* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100%;
    padding: 20px;
}


.card {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

#shopping {
    position: absolute;
    top: 0px;
    right: 0px;
}


#shopping i {
    font-size: 20px;
}

#shopping sup {
    margin-left: 4px;
}

.images h2 {
margin-bottom: 25px;
}

.infos h1 {
    display: none;
}
.imgs {
    cursor: pointer;
}

.infos .price {
    display: flex;
    justify-content: start;
}
.infos .price h3:last-child  {
    margin-left: 20px; 
}