{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous" />
</head>
<section>
    <footer class="mt-5 py-5">
        <div class="row container mx-auto pt-5">
          <div class="footer-one col-lg-3 col-md-6 col-12">
            <img src="{% static 'logo.png' %}" alt="">
            <p class="pt-3">Aroma Perfumes is a Nepalese luxury Perfume house.
              <br> Voted as Nepal's most
              Promising startup company.</p>
          </div>
          <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
            <h5 class="pb-2">Featured</h5>
            <ul class="text-uppercase list-unstyled">
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Boys</a></li>
            <li><a href="#">Grils</a></li>
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Contact Us</h5>
          <div>
            <h6 class="text-uppercase">Address</h6>
            <p>Dillibazar, Kathmandu, Nepal</p>
          </div>
          <div>
            <h6 class="text-uppercase">Address</h6>
            <p>+977 980264937</p>
          </div>
          <div>
            <h6 class="text-uppercase">Mail</h6>
            <p>opencil1o1@gmail.com</p>
          </div>
      </div>

      <div class="footer-one col-lg-3 col-md-6 col-12">
        <h5 class="pb-2">Instagram</h5>
        <div class="row">
          <img class="img-fluid w-25 h-100 m-2" src="{% static 'img/insta/1.jpg' %}" alt="">
          <img class="img-fluid w-25 h-100 m-2" src="{% static 'img/insta/2.jpg' %}" alt="">
          <img class="img-fluid w-25 h-100 m-2" src="{% static 'img/insta/3.jpg' %}" alt="">
          <img class="img-fluid w-25 h-100 m-2" src="{% static 'img/insta/4.jpg' %}" alt="">
          <img class="img-fluid w-25 h-100 m-2" src="{% static 'img/insta/5.jpg' %}" alt="">
          <img class="img-fluid w-25 h-100 m-2" src="{% static 'img/insta/6.jpg' %}" alt="">
        </div>
       </div>
      </div>
      
      <div class="copyright mt-5">
        <div class="row container mx-auto">

          <div class="col-lg-3 col-md-6 col-12 text-nowrap mb-4">
            <img src="{% static 'img/payment.png' %}" alt="">
          </div>

          <div class="col-lg-4 col-md-6 col-12 text-nowrap mb-2">
            <p>Aroma Perfumes 2022. All Rights Reserved</p>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <a href="https://www.facebook.com/profile.php?id=100009122181146"><i class="fab fa-facebook-f"></i></a>
           <a href="https://twitter.com/bkas_lingdam"><i class="fab fa-twitter"></i></a>
           <a href="https://www.linkedin.com/in/bkas-lingdam-b1187220b/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </footer>
</section>
</html>