{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
      {% block content%}
    
      <section id="featured" class="my-5 py-5" >
        <div class="container mt-5 py-5">
          <h3>Our Featured</h3>
          <hr>
          <p>Here you can check our new Perfumes.</p>
        </div>
        <div class="row mx-auto container">
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="{% static 'img/shop/1.png'%}" alt="">
          <h5 class="p-name">
            Versace Dylan Blue Pour Homme 100 ml for Men</h5>
          <h4 class="p-price">$92.00</h4>
          <a href="singleProduct.html">
            <button class="buy-btn">Buy Now</button></a>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="{% static 'img/shop/2.png'%}" alt="">
          <h5 class="p-name">
            Christiano Ronaldo Cr7 Eau De Perfume For Men</h5>
        <h4 class="p-price">$182.00</h4>
        <a href="singleProduct.html">
          <button class="buy-btn">Buy Now</button></a>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="{% static 'img/shop/3.png'%}" alt="">
        <h5 class="p-name">
          Miss Dior Eau de Parfum</h5>
      <h4 class="p-price">$120.00</h4>
      <a href="singleProduct.html">
        <button class="buy-btn">Buy Now</button></a>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="{% static 'img/shop/4.png'%}" alt="">
      <h5 class="p-name">
        Denver Men Eau De Parfum Hamilton 100ml</h5>
    <h4 class="p-price">$70.00</h4>
    <a href="singleProduct.html">
      <button class="buy-btn">Buy Now</button></a>
  </div>
  <div class="product text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'img/shop/5.png'%}" alt="">
  <h5 class="p-name">
    Versace Eros Flame 100 ml for Men</h5>
  <h4 class="p-price">$62.00</h4>
  <a href="singleProduct.html">
    <button class="buy-btn">Buy Now</button></a>
</div>
<div class="product text-center col-lg-3 col-md-4 col-12">
  <img class="img-fluid mb-3" src="{% static 'img/shop/6.png'%}" alt="">
  <h5 class="p-name">
    Denver Hamilton</h5>
<h4 class="p-price">$80.00</h4>
<a href="singleProduct.html">
  <button class="buy-btn">Buy Now</button></a>
</div>
<div class="product text-center col-lg-3 col-md-4 col-12">
<img class="img-fluid mb-3" src="{% static 'img/shop/7.png'%}" alt="">
<h5 class="p-name">
Dior Homme Cologne: The Fresh and Musky Eau de Cologne | DIOR</h5>
<h4 class="p-price">$176.00</h4>
<a href="singleProduct.html">
  <button class="buy-btn">Buy Now</button></a>
</div>
<div class="product text-center col-lg-3 col-md-4 col-12">
<img class="img-fluid mb-3" src="s{% static 'img/shop/8.png'%}" alt="">
<h5 class="p-name">
Set Wet Studio X Perfume Spray for Men, Zest, 49 ml </h5>
<h4 class="p-price">$47.00</h4>
<a href="singleProduct.html">
  <button class="buy-btn">Buy Now</button></a>
</div>
<div class="product text-center col-lg-3 col-md-4 col-12">
  <img class="img-fluid mb-3" src="{% static 'img/shop/9.png'%}" alt="">
<h5 class="p-name">Swiss Arabian Perfume oil Lion Musk Perfume free from alcohol </h5>
<h4 class="p-price">$60.00</h4>
<a href="singleProduct.html">
  <button class="buy-btn">Buy Now</button></a>
</div>
<div class="product text-center col-lg-3 col-md-4 col-12">
<img class="img-fluid mb-3" src="{% static 'img/shop/10.png'%}" alt="">
<h5 class="p-name">
  Wisam Asgharali Eau de Parfum 120ml</h5>
<h4 class="p-price">$98.00</h4>
<a href="singleProduct.html">
  <button class="buy-btn">Buy Now</button></a>
</div>
<div class="product text-center col-lg-3 col-md-4 col-12">
<img class="img-fluid mb-3" src="{% static 'img/shop/11.png'%}" alt="">
<h5 class="p-name">YSL Beauty Mon Paris Eau de Parfum</h5>
<h4 class="p-price">$110.00</h4>
<a href="singleProduct.html">
  <button class="buy-btn">Buy Now</button></a>
</div>
<div class="product text-center col-lg-3 col-md-4 col-12">
<img class="img-fluid mb-3" src="{% static 'img/shop/12.png'%}" alt="">
<h5 class="p-name">Ingenio Virtual Intense Black Perfume</h5>
<h4 class="p-price">$59.00</h4>
<a href="singleProduct.html">
  <button class="buy-btn">Buy Now</button></a>
</div>
<div class="product text-center col-lg-3 col-md-4 col-12">
  <img class="img-fluid mb-3" src="{% static 'img/shop/13.png'%}" alt="">
<h5 class="p-name">Ustraa Base Camp Cologne - 100 ml - Perfume for Men</h5>
<h4 class="p-price">$180.00</h4>
<a href="singleProduct.html">
  <button class="buy-btn">Buy Now</button></a>
</div>
<div class="product text-center col-lg-3 col-md-4 col-12">
<img class="img-fluid mb-3" src="{% static 'img/shop/14.png'%}" alt="">
<h5 class="p-name"> DIOR Vanilla Diorama</h5>
<h4 class="p-price">$200.00</h4>
<a href="singleProduct.html">
  <button class="buy-btn">Buy Now</button></a>
</div>
<div class="product text-center col-lg-3 col-md-4 col-12">
<img class="img-fluid mb-3" src="{% static 'img/shop/15.png'%}" alt="">
<h5 class="p-name">Phlur Missing Person Eau De Parfum - Full Size 50mL - Phlur</h5>
<h4 class="p-price">$69.00</h4>
<a href="singleProduct.html">
  <button class="buy-btn">Buy Now</button></a>
</div>
<div class="product text-center col-lg-3 col-md-4 col-12">
<img class="img-fluid mb-3" src="{% static 'img/shop/16.png'%}" alt="">
<h5 class="p-name">Gucci Bloom Eau De Parfum, Perfume for Women, 3.3 Oz</h5>
<h4 class="p-price">$210.00</h4>
<a href="singleProduct.html">
  <button class="buy-btn">Buy Now</button></a>
</div>
      </section>
{% endblock content%}
